.slot {
    width: 80px;
    height: 80px;
    -unity-slice-left: 8;
    -unity-slice-top: 8;
    -unity-slice-right: 8;
    -unity-slice-bottom: 8;
    -unity-slice-scale: 0.7px;
    flex-shrink: 0;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    height: 80px;
    align-items: center;
}