.slot {
    width: 80px;
    height: 80px;
    -unity-slice-left: 8;
    -unity-slice-top: 8;
    -unity-slice-right: 8;
    -unity-slice-bottom: 8;
    -unity-slice-scale: 0.7px;
    flex-shrink: 0;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    height: 80px;
    align-items: center;
}

:hover > #Button {
    scale: 1.1 1.1;
    transition-property: scale;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

:hover > #Button1 {
    scale: 1.1 1.1;
    transition-property: scale;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.scaleup :hover {
}

:hover > #vivi {
    transition-duration: 0.25s;
    transition-property: scale;
    scale: 1.2 1.2;
}
